# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
*.whl

#remove testing three clients
dataset/
modelData/
receivedModelParameter/
/test/
#mobile app ignore files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.tflite
.h5
.csv