<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    <title>Bootstrap Full Screen UI Example</title>
    <style>
      /* custom style for background color */
      body {
        background-color: #f8f9fa;
        margin-top: 56px; /* adjust margin to make space for navbar */
        background-image: url("https://img.freepik.com/free-photo/abstract-blur-supermarket-retail-store_74190-7546.jpg?w=740&t=st=1678689935~exp=1678690535~hmac=355eae7f890025f64fa23c464c996f63d271462882ea22513836eed29ab95d2b"); /* supermarket related image */
        background-size: cover;
        background-position: center center;
      }
      /* style for the middle rectangular block */
      .middle-block {
        width: 50%;
        height: 500px; /* increased height */
        margin: auto;
        margin-top: 40px; /* increased margin-top to make space for navbar */
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
 
      .image-gallery img {
        display: none;
        margin: 10px;
      }
      
      .image-gallery img:first-child {
        display: block;
      }
      
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Supermarket </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        
           
            <form action="/moveHome" method="POST">
              <button type="submit" class="btn btn-link">Home</button>
            </form>
          </div>
           
         
        
            <form action="/moveAdmin" method="POST">
              <button type="submit" class="btn btn-link">Admin</button>
            </form>
        
         
        </ul>
      </div>
    </nav>
    <div>  
      <div class="container-fluid pt-5">
          <div class="row">
            <div class="col-lg-3">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title text-center">Today Trending</h3>
                </div>
                <div class="card-body">
                  <div class="image-gallery mx-auto">
                 
                    {% for threand in threandingArray %}
                    {% for item in threand %}
                    <div class="row">
                      <div class="col">
                        
                        <img src={{item}} alt="Image 1" style="width: 200px; height: 300px;">
                      </div>
                     </div>

                  {% endfor %}
                  {% endfor %}
                   
                  
                  </div>
                </div>
                
              </div>
            </div>

             <div class="col-lg-4">
              <div class="container d-flex " >
                <div class="bg-light p-3" style="width: 400px; height: 600px;">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title text-center">Cart </h3>
                          </div>
                          <div class="card-body">
                           
            
                            <div class="container">
                       
                        
                              <!-- 2-->
                              <div class="row justify-content-center">
                                <div class="col-12 col-md-6">
                                  <form action="/getItems" method="POST">
                                    <button type="submit" class="btn btn-dark btn-block">Scan</button>
                                  </form>
                                </div>
                              </div>
                              
                              <!-- 3-->
                             <div class="row ">
                                  <!-- Form Section -->
                               <form class="grid" action="/result" method="POST">
                                 <div class="row">
                                   <!-- Month Field -->
                                   <div class="col-sm">
                                     <label for="month">Date </label>
                                   </div>
                                   <div class="col-sm">{{currentDate}}</div>
                                 </div>
                   
                                 <div class="row">
                                   <!--  Item_Name Field -->
                                   <div class="col-sm">
                                     <label for="itemName">Item Name</label>
                                   </div>
                                   <div id="item_Name" type="text"  id="item_Name"  value="" class="col-sm">{{Item_Name}}</div>
                                 </div>
            
                                 <div class="row">
                                  <!--  Item_Price Field -->
                                  <div class="col-sm">
                                    <label for="itemPrice">Item Price</label>
                                  </div>
                                  <div class="col-sm">{{Item_Price}}
                                  </div>
                                </div>
            
                                <div class="row">
                                  <!--  Item_No Field -->
                                  <div class="col-sm">
                                    <label for="itemNo">Item No</label>
                                  </div>
                                  <div class="col-sm">{{Item_No}}
                                  </div>
                                </div>
                                <!-- Item Count Field -->
                                <div class="row">
                                <div class="col-sm">
                                  <label for="itemCount">Item Amount</label>
                                </div>
                              <div>
                                <input type="text" size="5" id="itemCount" name="itemCount" value="">
                              </div>
                            </div>
            
                                 <div class="row">
                                   <!-- Gender Field -->
                                   <div class="col-sm">
                                     <label for="gender">Gender</label>
                                   </div>
                                   <div class="col-sm">
                                     <select name="gender" id="gender">
                                       <option value="0">Male</option>
                                       <option value="1">Female</option>
                                     </select>
                                   </div>
                                 </div>
                   
                                 <!-- Save Button -->
                                 

                               
                                 <div class="row justify-content-center">
                                   <div class="col-auto">
                                     <input class="btn btn-primary" type="submit" value="Add" />
                                   </div>
                                 </div>
                               </form>
                   
                             </div>
                           </div>
            
            
            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
            </div>

         <div class="col-lg-5">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title text-center">Bill</h3>
                </div>
                <div class="card-body">
                 
                    

                  <table class="table">
                    <thead class="thead-light">

                    <tr>
                      {% for header in headings %}
                      <th> {{header}} </th>
                      {% endfor %}
                      <tr>
                      </thead>
                      <tbody>

                  {% for row in data %}
                    <tr>
                      {% for cell in row %}
                      <td> {{cell}} </td>
                      {% endfor %}
                      <tr>	
                  {% endfor %}
                </tbody>

                  </table>

                 <div class="row d-flex justify-content-center">
                  <h4>Total Bill {{totalBill}}</h4>
                </div>

                <div class="row justify-content-center">
                  <div class="col-12 col-md-6">
                    <form action="/checkout" method="POST">
                      <button type="submit" class="btn btn-primary btn-block">Checkout</button>
                    </form>
                  </div>
                </div>
      </div>
      <!-- Block ui -->
    </div>
    


    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        var currentIndex = 0;
        var galleryLength = $('.image-gallery img').length;
        var intervalId = setInterval(function() {
          currentIndex = (currentIndex + 1) % galleryLength;
          $('.image-gallery img').hide();
          $('.image-gallery img').eq(currentIndex).fadeIn(1000);
        }, 2000);
      });
    </script>
  </body>
</html>
