<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Add permissions for camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.PredictionApp.NoActionBar"
        android:label = "@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        tools:targetApi="31">
        <meta-data
            android:name="android.preloaded_splash_screen"
            android:resource="@style/SplashTheme" />
        <activity
            android:name=".ScanQRCodeActivity"
            android:label="Scan QR Code"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SignUpActivity"></activity>


        <activity
            android:name=".LoginActivity"></activity>
        <activity
            android:name=".GetStartedActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UserProfileActivity"></activity>
        <activity
            android:name=".ProductPreviewActivity"
            />
    </application>

</manifest>